/* /////////////////////////////////// CONTACT CSS ////////////////////////////////////////////////  */
.contact-us {
  margin-top: 0rem;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: white;
}
.contact-us h1 {
  text-align: center;
  padding-top: 12rem;
<<<<<<< HEAD
  color: white;
  font-size: 3rem;
=======
  color:#0b6d6c;
  font-size: 2rem;
>>>>>>> 6886f0f595323b01377bf406c7b5e39606f8be89
  font-family: "Raleway";
}

.icon li i {
  font-size: 4rem;
  margin-top: 2rem;
  color:#0b6d6c;
}
.footerText {
  font-family: "Raleway";
}
li {
  font-family: "Raleway";
  font-size: 16px;
}

.wrapper {
  background: #ccc !important;
  height: fit-content !important;
}
.form {
  height: 100%;
  width: 100%;
}

.wrapper-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  grid-column-gap: 20%;
  margin-top: 3rem;
}

.main-label {
  margin-top: 1rem;
  color: #0b6d6c;
  font-family: "Raleway";
}

.label {
  font-size: 16px;
  font-family: "Raleway";
}



.sub-contact {
  margin-bottom: 2rem;
}

.map {
  display: flex;
  gap: 20%;
  justify-items: center;
  color: white;
}

.form-button {
  width: 50%;
  height: 3rem;
<<<<<<< HEAD
  margin-top: 1.5rem;
  /* margin-right: 25%rem; */
  margin-left: 48%;
  margin-bottom: 2rem;
=======
  float:right;
  /* margin-top: 1.5rem;
  margin-left: 25%;
  margin-bottom: 2rem; */
>>>>>>> 6886f0f595323b01377bf406c7b5e39606f8be89
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: bold;
<<<<<<< HEAD
  background: darkgrey;
=======
  background: rgb(255, 153, 0);
  color:white;
>>>>>>> 6886f0f595323b01377bf406c7b5e39606f8be89
  border: none;
  min-width: 140px;
  font-family: "Raleway";
}

.contact {
  margin-bottom: 2rem;
}

.sub-contact {
  display: flex;
  gap: 20%;
  justify-items: center;
  color: #0b6d6c;
}
.location {
  margin-top: 3rem;
}
.phone-number {
  margin-top: 4rem;
  margin-left: 2.5rem;
}

.email {
  margin-top: 4rem;
  margin-left: 0.5rem;
}

.bold {
  font-weight: bold;
  font-family: "Raleway";
}

.hr {
  background-color: white;
  margin-top: 1rem;
}

.form-button:hover {
  background: white;
}

.required {
  color: red;
}
