
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Sansita:ital@1&family=Urbanist:wght@100&display=swap");
.mentors{
  background-color: #2a7e5f;
background-image: linear-gradient(315deg, #98de5b  10%, #2a7e5f 74%);
}

.card-container {
  display: grid;
  grid-template-columns: 40% 5% 55%;
  padding: 10rem;
  gap: 2rem;
  padding-left: 3rem;
}

.left-column {
border: 2px solid rgba(255, 255, 255, 0.479) ;
  /* box-shadow: 8 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* height: 10% !important; */
  margin: auto;
  text-align: center;
  font-family: arial;


}

.title {
  color: rgba(255, 255, 255, 0.479);
  font-size: 20px;
  font-family: "Delius", cursive;
}
h3 {
  font-family: "Delius", cursive;
  color: white;

}
h5 {
  color: white;
  font-family: "Delius", cursive;
}



/* .mentor-img{
  height: 350px !important;
  
} */

.mentor-imgMoral {
  /* border-radius: 100%; */
  height: 340px !important;
  filter: gray;
  -webkit-filter: grayscale(1);
}

.media-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: auto !important;
}
.media {
  width: 20px;
  
  
}
.left-column
h1 {
  width: 100%;
  margin:auto;
  font-size: 26px !important;
  color: white;
  background-color: black;
  
  font-family: "Delius", cursive;
}


.vl {
  border-left: 6px solid white;
  height: 500px;
  opacity: 0.3;
}

.social-media{
  display:flex;
  padding-left: 2rem;
  /* border: 2px solid gray; 
  border-radius: 2.5rem; */
  width:25%;
  margin:auto;
  height: 3vh;
  /* background-color: grey; */
  margin-bottom: 1rem ;
  
  
  

}
.social-media
a {
  text-decoration: none;

  font-size: 22px;
}

.social-media,
.social-media-icons{
   gap: 1rem;
}

hr{
  background-color:  rgba(255, 255, 255, 0.555) !important;
  width: 89% ; 
  margin: auto;
}
.mentor-text{
  display: flex;
}

.right-column
p{
  font-family: "Delius", cursive;

  color: white;
}

.left-column{
  color: white;
}

.right-column
h2{
  color: white;
}