@import url('https://fonts.googleapis.com/css2?family=Delius&family=Sansita:ital@1&family=Urbanist:wght@100&display=swap');

.card-container{
display: grid;
grid-template-columns: 2fr 2fr 2fr;
padding: 10rem;
gap: 5rem;
padding-left: 3rem;

}

.card {
  border: 3px solid black  !important;
  box-shadow: 8 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* height: 10% !important; */
  margin: auto;
  text-align: center;
  font-family: arial;
  width: 35rem !important;
}

.title {
  color: grey;
  font-size: 20px;
  font-family: 'Delius', cursive;
}
h3{
   font-family: 'Delius', cursive;
}
h5{
   font-family: 'Delius', cursive;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
 
  padding: 8px;
  color:rgb(109, 88, 88);
  background-color:#2a7e5f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18x;
  font-family: 'Delius', cursive;
  
}

a {
  text-decoration: none;
  
  font-size: 22px;
  color: white;
}
.contact-btn{
color:white;
font-family: 'Delius', cursive;
}

/* .mentor-img{
  height: 350px !important;

} */

.mentor-imgMoral{
height: 340px !important;
filter: gray;
-webkit-filter:grayscale(1);
}

.media-container{

 display: grid;
 grid-template-columns: auto auto auto ;
  gap: 2rem ;
  margin: auto !important;
}
.media{
    width: 20px;
}

 h1 {
   font-size: 26px!important;
   background-color:  #2a7e5f;;
   color: white;
font-family: 'Delius', cursive;
 }

p{
font-family: 'Delius', cursive;
 }
 


