  
 /* MEET THE MENTORS */
  
  .mentor-container {
    display: grid;
    color: black;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom:2rem;
  }
  
  .profile {
    text-align: center;
    justify-self: center;
    width: 14rem;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding-bottom:1rem;
  }
  
  .mentor-image {
    width: 212;
    height: 240px;
  }
  
  .mentor-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 5rem;
  }
  
  .mentor-wrapper a {
    text-decoration: none;
    color: #033333;
    font-size: 1 rem;
  }
  
  blockquote {
    font-style: italic;
    border-left: 3px solid #033333;
    letter-spacing: 0.4px;
    margin-bottom: 2rem;
    padding-left: 2rem;
    font-weight: normal;
    line-height: 1.5rem;
    font-size: 1 rem;
    color: var(--text-color);
  }
  
  
  .rounded {
    color: var(--dark-green);
    font-size: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem auto;
  }
  
  li {
    list-style: none;
  }
  
  .mentor-header-container {
    text-align: center;
    color: black;
  }
  
  .mentor-section {
    margin-top: 5rem;
  }
  
  .text-block {
    justify-self: end;
    font-size: 1rem;
  }
  
.blockquote {
 border-left: 2rem solid rgba(10, 10, 15, 0.267);
}
  
  .mentor-section span {
    color: #033333;
  }
  
  .mentor-section h2 {
    color: var(--text-color);
  }