
#intro-section{
  background-color: #2a7e5f;
background-image: linear-gradient(315deg, #eeb50c  10%, #179b81 74%);
}

#myButton{
  height: 2rem;
  width: 25%;
  border-radius: .5rem;
  /* display: none; */
  font-size: 1rem;
  }  
    #dots{
      display: none;
    }
    #more {
      color: white;
    }
.meet-our-mentors{
  padding-top: 7rem;
  font-size: 2rem;
}
.card-container {
  display: grid;
  grid-template-columns: 35% 5% 60%;
  padding: 10rem;
  gap: 2rem;
  padding-left: 3rem;
  padding-top: 5rem;
  font-size: 2.5rem;

}

.card-container p{
  font-size: 16px;
}

.title {
  color: rgba(255, 255, 255, 0.479);
  font-size: 16px;
  font-family: 'Raleway' !important;
}

h3 {
  font-family: 'Raleway' !important;
  color: white;
}

h5 {
  color: white;
  font-family: 'Raleway' !important;
}


.media-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: auto !important;
}

.media {
  width: 20px;
}

.mentor-text{
  display: flex;
}

.left-column {
  border: 2px solid rgba(255, 255, 255, 0.479) ;
  margin: auto;
  text-align: center;
  font-family: arial;
    color: white;
  width: 60% !important;
}


.left-column
h1 {
  width: 100%;
  margin:auto;
  font-size: 2rem;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-family: 'Raleway';
}

.vl {
  border-left: 6px solid white;
  height: 520px;
  opacity: 0.3;
}

.right-column
p{
  font-family: 'Raleway';
  color: white;
}

.right-column
h2{
  font-size: 2rem;
  color: white;
}
.founders{
   font-family: 'Raleway';
  color: white;
  text-align: center; 
  padding: 2rem;
}
u{
  color: white;
}
.social-media{
  display:flex;
  padding-left: 2rem;
  /* border: 2px solid gray; 
  border-radius: 2.5rem; */
  width:25%;
  margin:auto;
  height: 3vh;
  /* background-color: grey; */
  margin-bottom: 1rem ;
}

.social-media
a {
  text-decoration: none;
  font-size: 22px;
}

.social-media,
.social-media-icons{
  gap: 1rem;
}
.mentor-imgMoral {
  /* border-radius: 100%; */
  height: 340px !important;
  filter: gray;
  -webkit-filter: grayscale(1);
  width:100%;
}
hr{
  background-color:  rgba(255, 255, 255, 0.555) !important;
  width: 89% ; 
  margin: auto;
 
}