
.students{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -6rem;
  /* margin-bottom: 4rem; */
  
}

.bio-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 2%;
    margin-right: 2% ;
    gap:2rem;
}

h3{
   font-family: 'Raleway';
}
h5{
   font-family: 'Raleway';
}
.footerText{
    font-family: 'Raleway';
}

 h1 {
   text-align: center;
   font-family: 'Raleway';
   text-transform: uppercase;
   margin-top: 3rem;
   padding: 9rem;
   font-size: 2rem;

 }

.resize {
    margin-top: 2rem;
    width: 600px;
    height: auto;
    max-width: 100%;
    display: flex;
    float: left;
    border: 1px solid black;
    background-color: grey;
    border-radius: 5px;
  }
       


.welcome-students{
  text-align: center;
  font-family: 'Delius', cursive;
  font-size: 3rem;
  /* margin-top: 2rem;  */
  font-weight: 900;
  letter-spacing: 3px;
  font-family: 'Raleway';
  padding-top: 7rem; 
}

.header-h1, h1 {
  margin-top: 0;
  padding-top: 13rem;
  font-family: 'Raleway';
  font-size: 3rem;
}

.header-img{
  margin-top: 1rem;
  width: 100%;
  height: 100vh;
  background-image: url('../img/group_pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-family: 'Raleway' !important;
  margin-left: 6rem;
  font-size: 2.5rem;
}


.bio p {
  margin-top: 4rem; 
  margin-bottom: 4rem; 
font-family: 'Raleway';
font-size: 16px;

}

.social{
  font-size: 2rem;
  margin-left: 10rem;
}


hr{
  margin-left: 2%;
  margin-right: 2%;
}


