.section_container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    width: 80%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
}


p {

    padding: 0 35px;
} 

img {
    /* width: 100%; */
    height: auto;
    border-radius: 8px;
    max-width: 100%;
    /* vertical-align: middle; */
    display: block;
  }

  .bio-container{
      padding: 15px 25px;
  }