:root {
    --red: black;
    --dark-green: #033333;
    --light-green: #2a7e5f;
    --text-color: #555555;
  }
  
  h1{
    font-size: 3rem;
    font-weight: 400;
    margin-top:2rem;
    margin-bottom:2rem;
  }
  
  h2{
    font-weight: normal;
    margin: 1.2rem;
    font-size: 1.5rem;
  }
  
  .btn{
    display: inline-block;
    text-decoration: none;
    width: 14rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
  }
  
  p{
    line-height: 1.8;
    font-weight: 400;
    font-size: 1.1rem;
  }
  
  * {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    font-family: "Raleway", sans-serif !important;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    /* line-height: 2rem; */
    color: white;
  
  }
  
  html,
  body {
    width: 100% !important;
    /* //////////////////////////////////////////////////////////// header section */
    overflow-x: hidden !important;
  }
  
  
  .img-container {
    background-image: url("../img/RevSlider-V1.jpg");
    background-position: center;
    display: grid;
    grid-template-rows:  repeat(1 ,16rem);
    justify-content: center;
    align-content:center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sub-header-container{
    display:grid;
    justify-content: center;
    color:black;
    margin:0rem;
    line-height: 2rem;
  }
  
  .header {
    font-size: 8rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.8;
  }
  
  
  .header-container {
    align-self: center;
    line-height: 4rem;
    margin:0rem;
    text-align: center;
  }
  
  .header-medium {
    font-size:5rem;
    text-align: center;
    font-weight: bold;
  }
  
  .header {
    /* font-weight: 400;
    text-transform:uppercase;
    font-size: 6rem;
    letter-spacing: 1.8;
    margin: 3rem; */
  }
  
  
  .sub-header {
    background-color: white;
    text-align: center;
    width: 35rem;
    letter-spacing: 0.2rem;
    align-self: center;
    padding: 1rem 5rem;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
     margin-bottom:0.3rem;
     margin-top: 0rem;
     color: var(--dark-green);
    letter-spacing: 0.2rem;
  }
  
  .btn-apply {
    background-color: var(--dark-green);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: bold;
    justify-self: center;
    text-align: center;
    margin-bottom: 3rem;
    line-height: 0rem;
    margin-top:2rem;
    padding:2rem 1rem;
  }
  
  .apply{
    display:grid;
  }
  
  
  
  .main-img {
  
  }
  
  /* //////////////////////////////////////////////////////////// header section */
  
  /* ////////////////////////////////////////////////////////// INTRO */
  .intro-section {
    background-color: var(--light-green);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
  
  .intro-section a {
    width: 9rem;
    margin: 1rem;
    margin-left: 2rem;
  
  }
  
  .intro-section h1 {
    text-align: center;
    padding: 4rem;
    margin:0px;
    line-height: 3rem;
  }
  
  .intro-section p{
    margin-left:2rem;
  }
  .intro-section span {
    font-weight: bold;
  }
  
  /* /////  ///////////////////////////////////////////////////// INTRO */
  /* ///////////////////////////////////////////////////////// WHAT IS IT ABOUT */
  
  .service .fa {
  
  }
  
  .square {
    border: 1px solid black;
    padding: 1.5rem 1.5rem;
    font-size: 1.8rem;
  }
  
  .icon {
    color: white;
  }
  
  .service-body p {
    /* margin:2rem; */
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 15rem; */
  }
  
  .service-body h3 {
    margin-top: 2rem;
  }
  
  .service {
    justify-self: center;
    text-align: center;
    color: #555555;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
    margin-right: 5rem;
    margin-left: 5rem;
    color: black;
  }
  
  /* ///////////////////////////////////////////////////////// WHAT IS IT ABOUT */
  
  /* //////////////////////////////////////////////////////// INFO SECTION */
  
  .application-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: var(--light-green);
    grid-gap: 2rem;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .white {
    margin: 2rem 0px;
  }
  
  .application-image {
    height: auto;
    justify-self: end;
    align-self: center;
    width: 44rem;
  
  }
  
  .side-info {
    display: grid;
    justify-self: start;
    text-align: left;
  }
  .side-info h1 {
    line-height: 3rem;
    /* font-weight: normal; */
  }
  
  .side-info p {
    max-width: 33rem;
  }
  
  /* //////////////////////////////////////////////////////// INFO SECTION */
  
  /* ///////////////////////////////////////////////////// WHAT WILL YOU LEARN */
  .what-to-learn-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: var(--dark-green);
    color: white;
    padding-top: 3rem;
    grid-gap: 9rem;
    padding-bottom: 3rem;
    line-height: 1.5rem;
  }
  
  .what-to-learn-container li {
    margin: 1rem;
    font-size:1rem;
    list-style: none;
    word-spacing: 0.2rem;
  }
  
  .learn-side-1 {
    display: grid;
    justify-self: end;
    grid-gap: 2rem;
  }
  
  .learn-side-1 h1 {
    /* margin-bottom: 2rem; */
    line-height: 3rem;
  }
  
  .learn-side-2 {
    display: grid;
    justify-self: start;
    align-self: end;
  }
  
  .learn-side-1 {
    /* display: grid; */
    /* justify-self: start; */
  
  }
  
  
  .logo-white {
    width: 186px;
    height: 215px;
    justify-self: end;
  }
  
  .what-to-learn-container .fa {
    color: white;
    font-size: 1rem;
    margin-right: 1.5rem;
  }
  
  .what-to-learn-container p {
    max-width: 30rem;
    
  }
  
  
  
  /* ///////////////////////////////////////////////////// WHAT WILL YOU LEARN */
  
  /* ////////////////////////////////////////////////////////////////////MEET THE MENTORS */
  
  .mentor-container {
    display: grid;
    color: black;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom:2rem;
  }
  
  .profile {
    text-align: center;
    justify-self: center;
    width: 14rem;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding-bottom:1rem;
  }
  
  .mentor-image {
    width: 212;
    height: 240px;
  }
  
  .mentor-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 5rem;
  }
  
  .mentor-wrapper a {
    text-decoration: none;
    color: #033333;
    font-size: 0.9rem;
  }
  
  blockquote {
    font-style: italic;
    border-left: 3px solid #033333;
    letter-spacing: 0.4px;
    margin-bottom: 2rem;
    padding-left: 2rem;
    font-weight: normal;
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: var(--text-color);
  }
  
  
  .rounded {
    color: var(--dark-green);
    font-size: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem auto;
  }
  
  li {
    list-style: none;
  }
  
  .mentor-header-container {
    text-align: center;
    color: black;
  }
  
  .mentor-section {
    margin-top: 5rem;
  }
  
  .text-block {
    justify-self: end;
    font-size: 1rem;
  }
  
  .mentor-section h1 {
    /* margin: 2rem; */
  }
  
  .mentor-section span {
    color: #d93;
  }
  
  .mentor-section h2 {
    color: var(--text-color);
  }
  
  .profile h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top:1rem;
    color: var(--text-color);
  }
  
  /*///////////////////////////////////////////////////////////// MEET THE MENTORS */
  
  /* ///////////////////////////////////////////////////// stay in touch */
  
  .stay-in-touch-container h1 {
    color: var(--text-color);
    font-weight: normal;
  }
  
  .touch-2-col-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr 2fr
  }
  
  .stay-in-touch-container {
    color: black;
    margin-left: 2rem;
  }
  
  .stay-in-touch-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1rem 1rem;
    grid-gap: 1rem;
  }
  
  .stay-in-touch-container textarea {
    height: 7rem;
  }
  
  .input-wrapper {
    display: grid;
    /* grid-template-rows: 1fr 2fr; */
  }
  
  .input-wrapper {
    color:var(--dark-green);
    font-weight: bold;
  }
  
  .submit {
    margin-top: 8rem;
    width: 5rem;
    height: 2rem;
    background-color:var(--dark-green);
    color:white;
    border: none;
  }
  
  .input {
    height: 2rem;
  }
  
  h4{
    font-size:1.2rem;
    margin-bottom:2rem;
    font-weight: normal;
  }
  /* /////////////////////////////////////////////////// FOOOTER  */
  
  
  .footer{
    
    /* grid-template-columns: repeat(2fr 1fr); */
    height: 14rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  .footer_container{
    display: flex;
  }

  .left_column{
display: flex;
  }

  .right_column{
    display: flex;


  }

  .mediaIcons{
    height:40px;
  }
 