/* ////////////////////////////////////////// Navigationbar */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Sansita:ital@1&family=Urbanist:wght@100&display=swap');

.logo {
  float: left;
  margin-left: 4%;
}

.drop {
  margin: 0 !important;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 50;

}

/* .current{
  border: 1px solid #f9f9f9;
  border-radius: 2rem;
  width: 6%;
} */

.nav_bar {
  overflow: hidden;
  background-color: #033333;
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem 0;

}

.nav_bar .current {
 /* background-color: #2a7e5f; */
 border: 1px solid #f9f9f9;
 border-radius: 2rem;
 width: 6%;
}

.nav_bar a {
  float: right;
  font-size: 1.2rem ;
  color: white ;
  text-align: center ;
  padding: 10px 12px ;
  text-decoration: none !important;
  margin-top: 1.5rem;
  margin-left: 1%;
}

.drop_down {
  float: right;
  overflow: hidden;
  text-decoration: none !important;
  margin-right: 4%;
  margin-top: 1.5rem;
  margin-left: 1%;
}

.drop_down a:active {
  background-color: #2a7e5f;

}

.drop_down .dropbtn {
  font-size: 1.2rem ;
  border: none;
  outline: none ;
  color:  #f9f9f9 ;
  padding: 10px 12px !important;
  background-color: inherit ;
  font-family: inherit ;
  margin: 0;
}
.nav .dropbtn {
  background-color: #2a7e5f;
}

.nav_bar a:hover,
.drop_down:hover .dropbtn {
    /* background-color: #2a7e5f !important; */
    border: 1px solid #f9f9f9;
    /* color: yellow; */
    font-size: 1.2rem;
    color: #f9f9f9;
    border-radius: 2rem;
    /* width: 6% !important; */
    /* text-decoration: underline !important; */
}
.nav_bar a:hover{
    width: 6% !important;
    font-size: 1.2rem;

  /* background-color: #2a7e5f !important; */
  /* text-decoration: underline !important; */
  color: #f9f9f9;
}

.dropdown-content {
  /* margin-top: .5rem; */
  display: none !important;
  position: absolute !important;
  background-color: #f9f9f9 !important;
  min-width: 120px !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
  z-index: 1 !important;
  /* top: 6.5rem; */
}

.dropdown-content a {
  float: none !important;
  color: black !important;
  padding: 10px 12px !important;
  text-decoration: none !important;
  display: block !important;
  text-align: left !important;
  /* text-decoration: none !important; */
  /* text-decoration: none !important; */
}

.dropdown-content a:hover {
  background-color: #2a7e5f !important;
  width: 100% !important;
  /* color: yellow !important; */
  
  
}

.drop_down:hover .dropdown-content {
  display: block !important;
  margin-left: 0.5rem;
  transition-duration: 1s;
}

/* //////////////////////////////////////////////////////////////////////////////// Navigation Closed */


:root {
  --red: black;
  --dark-green: #033333;
  --light-green: #2a7e5f;
  --text-color: #555555;
}

/* ///////////////form */
.form-control, .form-control:focus, .input-group-addon {
  border-color: #e1e1e1;
}
  .form-control, .btn {        
      border-radius: 3px;
  }
.signup-form {
  width: 390px;
  margin: 0 auto;
  padding: 30px 0;
}
  .signup-form form {
  color: #999;
  border-radius: 3px;
    margin-bottom: 15px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
.signup-form h2 {
  color: #333;
  font-weight: bold;
      margin-top: 0;
  }
  
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 13px;
}
.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}	
.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}

  .signup-form .btn{        
      font-size: 16px;
      font-weight: bold;
  background: #19aa8d;
  border: none;
  min-width: 140px;
  }
.signup-form .btn:hover, .signup-form .btn:focus {
  background: #179b81;
      outline: none;
}
.signup-form a {
  color: #fff;	
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #19aa8d;
  text-decoration: none;
}	
.signup-form form a:hover {
  text-decoration: underline;
}
input{
  border-radius: 0.5rem !important;
}


textarea{
  border-radius: 0.5rem !important; 
  font-family: 'Delius', cursive;
}

/* ///////////////form end*/


h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Delius', cursive;
}

h2 {
  font-weight: normal;
  margin: 1.2rem;
  font-size: 1.5rem;
  font-family: 'Delius', cursive;
}

.btn {
  display: inline-block;
  text-decoration: none;
  width: 14rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
}

p {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Delius', cursive;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  /* line-height: 2rem; */
  color: white;
}

html,
body {
  width: 100% !important;
  overflow-x: hidden !important;
}
/* //////////////////////////////////////////////////////////// header section */



.imgContainer {
  display: flex;
  align-items: center;
  background-image: url(./img/RevSlider-V1.jpg);
  background-position: center;
  grid-template-rows: repeat(1, 16rem);
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-apply {
  background-color: #033333 !important;
  color: white !important;
}
.homeImg {
  height: 60vh;
  /* background-color: black; */
  margin: 5rem;
}






:root {
  --red: black;
  --dark-green: #818181;
  --light-green: #2a7e5f;
  --text-color: #555555;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Delius', cursive;
}

h2 {
  font-weight: normal;
  margin: 1.2rem;
  font-size: 1.5rem;
  font-family: 'Delius', cursive;
}


* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  /* line-height: 2rem; */
  color: white;
  font-family: 'Delius', cursive;
}
html {
  overflow: scroll;
}


html ::-webkit-scrollbar {
  display: none;
}

.sub-header-container {
  display: grid;
  justify-content: center;
  color: white;
  margin: 0rem;
  line-height: 2rem;
}

.header {
  font-size: 8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.8;
  color: white;
}

.header-container {
  align-self: center;
  line-height: 4rem;
  margin: 0rem;
  text-align: center;
}

.header-medium {
  font-size: 5rem;
  text-align: center;

  font-weight: bold;
  color: white;
}

.sub-header {
  background-color: rgba(255, 255, 255, 0.795);
  text-align: center;
  width: 35rem;
  letter-spacing: 0.2rem;
  align-self: center;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  margin-top: 0rem;
  color: #033333;
  letter-spacing: 0.2rem;
  font-family: 'Delius', cursive;
}

.btn-apply {
  background-color: var(--dark-green);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  justify-self: center;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 0rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
}

.apply {
  display: grid;
}

/* //////////////////////////////////////////////////////////// header section */

/* ///////////////////////////////////////////////////////// WHAT IS IT ABOUT */

.square {
  border: 1px solid black;
  padding: 1.5rem 1.5rem;
  font-size: 1.8rem;
}

.icon {
  color: white;
}
li {
  list-style: none;
 font-family: 'Delius', cursive;
}

.mentor-header-container {
  text-align: center;
  color: black;
}

.mentor-section {
  margin-top: 5rem;
}

.text-block {
  justify-self: end;
  font-size: 1rem;
}

.blockquote {
  border-left: 2rem solid rgba(10, 10, 15, 0.267);
}

.mentor-section span {
  color: #d93;
}

.mentor-section h2 {
  color: var(--text-color);
}

.profile h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1rem;
  color: var(--text-color);
}


h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Delius', cursive;
}

h2 {
  font-weight: normal;
  margin: 1.2rem;
  font-size: 1.5rem;
  font-family: 'Delius', cursive;
}

.btn {
  display: inline-block;
  text-decoration: none;
  width: 14rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
}

p {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Delius', cursive;
}

* {
  padding: 0px;
  margin: 0px;
}
h3{
 font-family: 'Delius', cursive; 
}
h5{
 font-family: 'Delius', cursive; 
}

body {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  /* line-height: 2rem; */
  color: white;
}

html,
body {
  width: 100% !important;
  /* //////////////////////////////////////////////////////////// header section */
  overflow-x: hidden !important;
}

/* ////////////////////////////////////////////////////////// INTRO */
/* ///////////////////////////////////////////////////////// WHAT IS IT ABOUT */

/* .square {
  border: 1px solid black;
  padding: 1.5rem 1.5rem;
  font-size: 1.8rem;
} */

.icon {
  color: white;
}

.service-body h3 {
  margin-top: 2rem;
}

.service {
  justify-self: center;
  text-align: center;
  color: #555555;
}

/* .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 8rem;
  margin-top: 8rem;
  margin-right: 5rem;
  margin-left: 5rem;
  color: black;
} */


.what-to-learn-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: grey;
  color: white;
  padding-top: 3rem;
  grid-gap: 9rem;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}

.what-to-learn-container li {
  margin: 1rem;
  font-size: 1rem;
  list-style: none;
  word-spacing: 0.2rem;
}

.learn-side-1 {
  display: grid;
  justify-self: end;
  grid-gap: 2rem;
}

.learn-side-1 h1 {
  /* margin-bottom: 2rem; */
  line-height: 3rem;
}

.learn-side-2 {
  display: grid;
  justify-self: start;
  align-self: end;
}

.learn-side-2Logo
 {
  width:50%;
}


.logo-white {
  width: 186px;
  height: 215px;
  justify-self: end;
}

.what-to-learn-container .fa {
  color: white;
  font-size: 1rem;
  margin-right: 1.5rem;
}

.what-to-learn-container p {
  max-width: 30rem;
  font-family: 'Delius', cursive;
}

.mentor-container {
  display: grid;
  color: black;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.profile {
  text-align: center;
  justify-self: center;
  width: 14rem;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  font-family: 'Delius', cursive;
}

.mentor-image {
  width: 212;
  height: 240px;
}

.mentor-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 5rem;
}

.mentor-wrapper a {
  text-decoration: none;
  color: #033333;
  font-size: 0.9rem;
}
a{
   font-family: 'Delius', cursive; 4
}

blockquote {
  font-style: italic;
  border-left: 3px solid #033333;
  letter-spacing: 0.4px;
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-weight: normal;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: var(--text-color);
  font-family: 'Delius', cursive;
}

.rounded {
  color: var(--dark-green);
  font-size: 3rem;
  padding: 2rem;
  border-radius: 2rem;
  margin: 1rem auto;
}

li {
  list-style: none;
}

.mentor-header-container {
  text-align: center;
  color: black;
}

.mentor-section {
  margin-top: 5rem;
}

.text-block {
  justify-self: end;
  font-size: 1rem;
}

.mentor-section span {
  color: #d93;
}

.mentor-section h2 {
  color: var(--text-color);
}

.profile h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1rem;
  color: var(--text-color);
font-family: 'Delius', cursive;
}

.stay-in-touch-container h1 {
  color: var(--text-color);
  font-weight: normal;
}

.touch-2-col-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
}

.stay-in-touch-container {
  color: black;
  margin-left: 2rem;
}

.stay-in-touch-container form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1rem 1rem;
  grid-gap: 1rem;
}

.stay-in-touch-container textarea {
  height: 7rem;
}

.input-wrapper {
  display: grid;
}

.input-wrapper {
  color: var(--dark-green);
  font-weight: bold;
}

.submit {
  margin-top: 8rem;
  width: 5rem;
  height: 2rem;
  background-color: var(--dark-green);
  color: white;
  border: none;
}

.input {
  height: 2rem;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: normal;
  font-family: 'Delius', cursive;
}


.footer {

  background-color: #2a7e5f !important ;
}

.img-fluid {
  width: 20px;
}
.columns {
  padding: 3em;
  text-align: center;
}

.footerTextContainer {
  background-color: #033333;
  height: 40px;
}

.footerText {
  text-align: center;
  margin: 0 auto;
  color: white;
  padding: 8px;
}

.footerContact{
  display: flex;
  justify-content: center;
  color: white;
  margin: auto;
  width:100%;
  height: 5vh;

}

.columns ul {

  display: flex;
justify-content: space-between;
  color: white;
  margin: auto;
}

.columns li {

  color: white;
}

.sponsorLogo {
  width: 180px;
}
.up-arrowDiv{
  position: absolute;
  right: 7rem;
}

.socialIcons{
  border: 2px solid white;
  width: 250px;
  justify-content: center;
  height: 5vh;
  padding: 9px;
  
  
}
.up-arrow-icon{
  position: absolute;

  width: 40px;
   top: 1.8rem;
  height: 40px;

}

/* //////////////////////////////////////////closed .footer_navigation */
