@media (max-width: 320px) {
  .intro-section {
    margin-top: 7rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5rem;
      }

      .img-tcg{
        display: none;
      }
      
.intro-section h1{
  padding-top: 3rem;
}
      .intro-section p {
        text-align: justify;
        margin-bottom: 0;    
      }
  
    .square{
      border: none;
    }
    .card{
      height: 24em;
    }
     .card h1{
       margin-top: 1rem;
       font-size: 1.5rem;
       border: 1px solid black;
       border-radius: 0.5rem;
     }

    .h1-align{
      display: flex;
      gap: .5rem;
    }
     
    .cards-wrapper{
      padding-top: 1rem !important;
    }

}
@media (min-width: 321px ) and (max-width: 375px) {
  .intro-section {
margin-top: 7rem;
margin-left: 0;
margin-right: 0;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 1.5rem;
  }

  .img-tcg{
    display: none;
  }

  .intro-section h1{
    padding-top: 3rem;
  }
      
  .intro-section p {
    text-align: justify;
    margin-bottom: 0;
  
  }

.square{
  border: none;
}
.card{
  height: 21em;
}

.card h1{
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.h1-align{
  display: flex;
  gap: .5rem;
}
 
.cards-wrapper{
  padding-top: 1rem !important;
}

  }

  @media (min-width: 376px ) and (max-width: 425px) {
    .intro-section {
      margin-top: 7rem;
      margin-left: 0;
      margin-right: 0;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 1.5rem;
        }
      
        .img-tcg{
          display: none;
        }
        .intro-section h1{
          padding-top: 3rem;
        }
            
        .intro-section p {
          text-align: justify;
          margin-bottom: 0;
        
        }
      
      .square{
        border: none;
      }
      .card{
        height: 20em;
      }
      
      .card h1{
        margin-top: 1rem;
        border: 1px solid black;
        border-radius: 0.5rem;
      }

      #h1-align{
        display: flex;
        gap: 0.5rem;
      }
       
      .cards-wrapper{
        padding-top: 1rem !important;
      }
   
}

@media (min-width: 426px ) and (max-width: 768px) {

}

@media (min-width: 769px ) and (max-width: 1440px) {
   
}

@media (min-width: 1441px ) and (max-width: 2560px) {
   

  
}

@media (min-width: 2561px ) {
   
}