
@media (min-width: 0px ) and (max-width: 320px)  {
    .wrapper-form {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-right: 10%;
}
.contact-us h1{
  font-size: 1.5rem;
  padding-top: 10.5rem;

}

hr:nth-child(4) {
  display: none;
}
.sub-contact{
    display: block;
    margin-bottom: 0rem;
    } 

    .hr {
        height: 0.5px;
}

.location {
    margin-top: 0rem;
  }
  .phone-number {
    margin-top: 0rem;
    margin-left: 0;
  }
  .email {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .form button{
      width: 100%;
      height: 2.5rem;
      margin-left: 0;
  }
    
.icon li i {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.columns ul{
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-left: 0;
  row-gap: 1.5rem;
  column-gap: 3rem;
  padding-right: 1rem;
}
.socialIcons{
  display: none;
}

.footerContact{
  display: none;
}

.sponsorLogo {
  width: 130%;
}
#sponsorLogo {
  height: 45px;
    width: 45px;
  border-radius: 15px;
  margin-top: .5rem;
  margin-right: 3rem;

}


#sponsorLogoHrw {
  margin-left: -.5rem;
}

#sponsorLogoSrcwrx {
  margin-left: -.7rem;
}

.columns{
  padding-bottom: 1rem;
  padding-left: 10%;
}
.footerTextContainer{
padding-bottom: 4rem;
}
.cliquidity{
  padding-top: 8.6rem;
  position:static;
}

.cliquidity p{
margin-left: 1rem;
margin-right: 1rem;

}
#myBtn {
  display: none !important;
  
}
}

@media (min-width: 321px ) and (max-width: 375px){
  .wrapper-form {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}
.contact-us h1{
font-size: 1.5rem;
padding-top: 10.5rem;

}

hr:nth-child(4) {
display: none;
}
.sub-contact{
display: block;
margin-bottom: 0rem;
} 

.hr {
    height: 0.5px;
}

.location {
margin-top: 0rem;
}
.phone-number {
margin-top: 0rem;
margin-left: 0;
}
.email {
margin-top: 0rem;
margin-left: 0rem;
}
.form button{
  width: 100%;
  height: 2.5rem;
  margin-left: 0;
}

.icon li i {
font-size: 2.5rem;
margin-top: 1rem;
}
.columns ul{
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-left: 1.5rem;
  row-gap: 1.5rem;
  column-gap: 2rem;
  padding-right: 1rem;
}
.socialIcons{
  display: none;
}

.footerContact{
  display: none;
}
.sponsorLogo {
  width: 100%;
  
}
#sponsorLogo {
  height: 45px;
  width: 45px;
  border-radius: 15px;
  margin-top: .5rem;
  margin-right: 4rem

}

#sponsorLogoHrw {
  margin-left: -.5rem;
}

#sponsorLogoSrcwrx {
  margin-left: -.7rem;
}

.columns{
  padding-bottom: 1rem;
  padding-left: 8%;
}
.footerTextContainer{
padding-bottom: 4rem;
}
.footerText{
  padding-top: 1.3rem;
}

.cliquidity{
  padding-top: 8.6rem;
}
#myBtn {
  display: none !important;
  
}
}

@media (min-width: 376px ) and (max-width: 425px) {

  .location {
    margin-top: 1rem;
  }
  .phone-number {
    margin-top: 2rem;
    margin-left: .5rem;
  }
  
  .email {
    margin-top: 2rem;
    margin-left: 0.1rem;
  }
  .sub-contact{
    margin-top: 1.5rem;
  }
  .wrapper-form {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}
.contact-us h1{
font-size: 1.5rem;
padding-top: 10.5rem;

}

hr:nth-child(4) {
display: none;
}
.sub-contact{
display: block;
margin-bottom: 0rem;
} 

.hr {
    height: 0.5px;
}

.location {
margin-top: 0rem;
}
.phone-number {
margin-top: 0rem;
margin-left: 0;
}
.email {
margin-top: 0rem;
margin-left: 0rem;
}
.form button{
  width: 100%;
  height: 2.5rem;
  margin-left: 0;
}

.icon li i {
font-size: 2.5rem;
margin-top: 1rem;
}

.columns ul{
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-left: 1rem;
  row-gap: .5rem;
  column-gap: 3rem;
  padding-right: 1rem;
}
.socialIcons{
  display: none;
}
.footerContact{
  display: none;
}
.sponsorLogo {
  width: 100%;
}
#sponsorLogo {
  height: 50px;
    width:50px;
  border-radius: 15px;
  margin-top: .5rem;
  margin-right: 5rem;

}


#sponsorLogoHrw {
  margin-left: -.9rem;
}

#sponsorLogoSrcwrx {
  margin-left: -.5rem;
}

.columns{
  padding-bottom: 1rem;
  padding-left: 10%;
}
.footerTextContainer{
padding-bottom: 4rem;
}
.footerText{
  padding-top: 1.4rem;
}
#myBtn {
  display: none !important;
  
}
  
}


@media (min-width: 426px ) and (max-width: 767px) {    
  .wrapper-form {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}
.contact-us h1{
font-size: 1.5rem;
padding-top: 10.5rem;

}

.form{
margin-bottom: 2rem;
}

hr:nth-child(4) {
display: none;
}
.sub-contact{
display: block;
margin-bottom: 0rem;
} 

.hr {
    height: 0.5px;
}

.location {
margin-top: 0rem;
}
.phone-number {
margin-top: 0rem;
margin-left: 0;
}
.email {
margin-top: 0rem;
margin-left: 0rem;
}
.form button{
  width: 100%;
  height: 2.5rem;
  margin-left: 0;
}

.icon li i {
font-size: 2.5rem;
margin-top: 1rem;
}

   .sub-contact {
    display: flex;
    gap: 20%;
    justify-items: center;
    color: #0b6d6c;
    padding-bottom: 1rem;
  
  }

  .location {
    margin-top: 1rem;
  }
  .phone-number { 
    margin-top: 2.3rem;
    margin-left: .5rem;
  }
  
  .email {
    margin-top: 2.4rem;
    margin-left: 0rem;
  }
  .columns ul{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding-left: 0;
    row-gap: 1.5rem;
    column-gap: 3rem;
    padding-right: 1rem;
  }
  .socialIcons{
    display: none;
  }

  
.footerContact{
display: none;
}
  .sponsorLogo {
    width: 100%;
  }
  #sponsorLogo {
    height: 60px;
      width:60px;
    border-radius: 15px;
    margin-top: .7rem;
    margin-right: 6rem;
  
  }
  
  
  #sponsorLogoHrw {
    margin-left: -.5rem;
  }
  
  #sponsorLogoSrcwrx {
    margin-left: -.5rem;
  }
  
  .columns{
    padding-bottom: 1rem;
    padding-left: 10%;
  }
  .footerTextContainer{
  padding-bottom: 4rem;
  }

  .footerText{
    padding-top: 1.4rem;
  }
  
  #myBtn {
    display: none !important;
    
  }
}


@media (min-width: 768px ) and (max-width: 1023px) {

  .wrapper-form {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

hr:nth-child(4) {
  display: none;
  }
  .sub-contact {
    gap: 20%;
  padding-top: 0;
  }
 
  .location {
    margin-top: 2rem;
  }
  .phone-number {
    margin-top: 4.5rem;
    margin-left: 2.5rem;
  }
  .email {
    margin-top: 4.7rem;
    margin-left: 0rem;
  }
  .form{
    padding-top: .7rem;
    }
  .form button{
      width: 100%;
      height: 2.5rem;
      margin-left: 0;
  }
  .columns ul{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding-left: 0;
    row-gap: 1.5rem;
    column-gap: 3rem;
    padding-right: 1rem;
  }
  .socialIcons{
    display: none;
  }
  
  .sponsorLogo {
    width: 100%;
  }
  #sponsorLogo {
    height: 70px;
      width:70px;
    border-radius: 15px;
    margin-top: .7rem;
    margin-right: 6rem;
  
  }
  
  
  #sponsorLogoHrw {
    margin-left: -.5rem;
  }
  
  #sponsorLogoSrcwrx {
    margin-left: -.5rem;
  }
  
  .columns{
    padding-bottom: 1rem;
    padding-left: 10%;
  }
  .footerTextContainer{
  padding-bottom: 4rem;
  }
  .footerText{
    padding-top: 1.4rem;
  }

  .footerContact{
    display: none;
  }
  #myBtn {
    display: none !important;
    
  }
  

}

@media (min-width: 1024px ) and (max-width: 1439px) {
  .sub-contact {
    gap: 10%;
  padding-top: 0;
  }
  .location {
    margin-top: 2rem;
  }
  .phone-number {
    margin-top: 4.5rem;
    margin-left: 2.5rem;
  }
  .email {
    margin-top: 4.7rem;
    margin-left: 0rem;
  }
  .form{
    padding-top: .7rem;
    }
  .form button{
      width: 100%;
      height: 2.5rem;
      margin-left: 0;
  }
  .columns ul {
    display: flex;
    justify-content: space-between;
    /* color: white; */
    margin: auto;
  }
  
  .columns li {
    color: white;
  }
  
  .sponsorLogo {
    width: 130px;
  }
  
  #sponsorLogo {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    margin-top: .5rem;
  }
  #sponsorLogo1{
    padding-top: 1rem;
  }
  
  #sponsorLogoSrcwrx{
    padding-top: .8rem;
  
  }

  .footerContact{
    display: none ;
  }
  
  #myBtn {
  
    bottom: 50px;
    right: 40px;
    z-index: 99;
    font-size: 13px;
    background-color: #2a7e5f !important;
  
   }

}



@media (min-width: 1440px ) and (max-width: 2560px) {
  .sub-contact {
    gap: 10%;
  padding-top: 0;
  }
  .location {
    margin-top: 2rem;
  }
  .phone-number {
    margin-top: 4.5rem;
    margin-left: 2.5rem;
  }
  .email {
    margin-top: 4.7rem;
    margin-left: 0rem;
  }
  .form{
    padding-top: .7rem;
    }
  .form button{
      width: 100%;
      height: 2.5rem;
      margin-left: 0;
  }
   
  .footerContact {
    display: none;
   }
  
  .columns ul {
    display: flex;
    justify-content: space-between;
    /* color: white; */
    margin: auto;
  }
  
  .columns li {
    color: white;
  }
  .sponsorLogo {
   width: 130px;
 }
 
 #sponsorLogo {
   height: 60px;
   width: 60px;
   border-radius: 15px;
   margin-top: .5rem;
 }
  
  #myBtn {
  
    bottom: 50px;
    right: 40px;
    z-index: 99;
    font-size: 13px;
    background-color: #2a7e5f !important;
  
   }

}

@media (min-width: 2560px ) {
 
}