@media (min-width: 0px) and (max-width: 320px) {
  .modal {
    padding-top: 10rem !important;
  }
  .signup-form {
    width: 267px !important;
  }
  .homeContainerGrid {
    display: block;
    font-size: 1.5rem;
    padding-top: 0rem;
  }

  .header {
    font-size: 2.9rem;
    padding-top: 0rem;
  }
  .homeImg {
    display: none;
  }
  .header-medium {
    font-size: 1.5rem;
  }
  .sub-header {
    margin-bottom: 0;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  .sub1-header {
    padding-top: 0.5rem;
  }
  #applyBtn {
    margin-top: 3rem;
  }
  .header-container {
    padding-top: 1rem !important;
  }

  .what-to-learn-container {
    display: block;
    padding-top: 8rem !important ;
    gap: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  .header-text {
    text-align: center;
    padding-top: 2rem;
  }
  .card-text {
    text-align: center;
  }
  .learn-side-2Logo {
    position: absolute;
    top: 0;
    margin-left: 22%;
    padding-top: 5rem;
  }
  .imgContainer {
    justify-content: center;
    height: 105vh;
  }
  .arrow {
    margin-top: 0rem;
  }
  .learn-side-1 ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  #icon {
    font-size: 1.5rem;
  }

  #icon2 {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .learn-side-2 ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .what-to-learn-container {
    padding-top: 10rem;
  }

  .socialIcons {
    display: none;
  }

  .footerContact {
    display: none;
  }
  .columns ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 1rem;
    row-gap: 1rem;
    column-gap: 1.5rem;
    /* padding-right: 1rem; */
  }
  .sponsorLogo {
    width: 75%;
  }
  #sponsorLogo {
    height: 37px;
    width: 37px;
    border-radius: 15px;
    margin-top: 0rem;
    margin-right: 1.8rem;
}

  #sponsorLogoHrw {
    margin-left: -0.5rem;
  }

  #sponsorLogoSrcwrx {
    margin-left: -0.7rem;
  }

  .columns {
    padding-bottom: 1rem;
    padding-left: 10%;
  }
  .footerTextContainer {
    padding-bottom: 4rem;
  }
  .cliquidity {
    padding-top: 8.6rem;
    position: static;
  }

  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #myBtn {
    display: none !important;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .cliquidity {
    padding-top: 8.6rem;
    position: static;
  }

  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .modal {
    padding-top: 10rem !important;
  }

  .signup-form {
    width: 322px;
  }
  #icon2 {
    display: grid;
    grid-template-columns: 15% 85%;
  }
  #icon {
    font-size: 1.5rem;
  }
  .imgContainer {
    justify-content: center;
    height: 115vh;
  }
  .homeContainerGrid {
    display: block;
    font-size: 1.5rem;
    padding-top: 0rem;
  }
  .header {
    font-size: 3rem;
  }
  .homeImg {
    display: none;
  }
  .header-medium {
    font-size: 1.5rem;
  }
  .sub-header {
    margin-bottom: 0;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  .sub1-header {
    padding-top: 0.5rem;
  }
  #applyBtn {
    margin-top: 3rem;
  }
  .header-container {
    padding-top: 1rem !important;
  }

  .what-to-learn-container {
    display: block;
    padding-top: 8rem;
    gap: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  .header-text {
    text-align: center;
    padding-top: 2rem;
  }
  .card-text p {
    text-align: center;
    padding-top: 3rem;
    margin-left: 2% !important;
  }
  .learn-side-2Logo {
    position: absolute;
    top: 0;
    margin-left: 22%;
    padding-top: 5rem;
  }
  .arrow {
    margin-top: 0rem;
  }
  .learn-side-1 ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .learn-side-2 ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .what-to-learn-container {
    padding-top: 10rem;
  }

  .socialIcons {
    display: none;
  }

  .footerContact {
    display: none;
  }
  .columns ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 1.5rem;
    row-gap: 1rem;
    column-gap: 2.5rem;
    padding-right: 1rem;
  }
  .sponsorLogo {
    width: 100%;
  }
  #sponsorLogo {
    height: 37px;
    width: 37px;
    border-radius: 15px;
    margin-top: 0.4rem;
    margin-right: 2.8rem;
}

  #sponsorLogoHrw {
    margin-left: -0.5rem;
  }

  #sponsorLogoSrcwrx {
    margin-left: -0.7rem;
  }
  /* .sponsorLogo {
    width: 70%;
  }
  #sponsorLogo {
    
    height: 34px;
    width: 34px;
    border-radius: 15px;
    margin-top: 0.1rem;
    margin-right: 2.5rem;

  }

  #sponsorLogo1{
    padding-top: 0.5rem;
  }

  #sponsorLogoHrw {
    margin-left: -.5rem;
  }

  #sponsorLogoSrcwrx {
    margin-left: -0.7rem;
  } */

  .columns {
    padding-bottom: 1rem;
    padding-left: 8%;
  }
  .footerTextContainer {
    padding-bottom: 4rem;
  }
  .footerText {
    padding-top: 0.5rem;
  }

  .cliquidity {
    padding-top: 8.6rem;
  }
  #myBtn {
    display: none !important;
  }
}

@media (min-width: 375px) and (max-width: 375px) {
  #sponsorLogo {
    height: 45px;
    width: 45px;
    border-radius: 15px;
    margin-top: 0.4rem;
    margin-right: 3.5rem;
}
}
@media (min-width: 376px) and (max-width: 425px) {
  .cliquidity {
    padding-top: 8.6rem;
    position: static;
  }

  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .modal {
    padding-top: 10rem !important;
  }
  .signup-form {
    width: 376px;
  }
  #icon2 {
    display: grid;
    grid-template-columns: 15% 85%;
  }
  #icon {
    font-size: 1.5rem;
  }
  .imgContainer {
    justify-content: center;
    height: 100vh;
  }
  .homeContainerGrid {
    display: block;
    font-size: 1.5rem;
    padding-top: 0rem;
  }
  .header {
    font-size: 3rem;
  }
  .homeImg {
    display: none;
  }
  .header-medium {
    font-size: 1.5rem;
  }
  .sub-header {
    margin-bottom: 0;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  .sub1-header {
    padding-top: 0.5rem;
  }
  #applyBtn {
    margin-top: 3rem;
  }
  .header-container {
    padding-top: 1rem !important;
  }

  .what-to-learn-container {
    display: block;
    padding-top: 8rem;
    gap: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  .header-text {
    text-align: center;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
  }
  .card-text p {
    text-align: center;
    padding-top: 3rem;
    margin-left: 2% !important;
  }
  .learn-side-2Logo {
    position: absolute;
    top: 0;
    margin-left: 22%;
    padding-top: 5rem;
  }
  .arrow {
    margin-top: 0rem;
  }
  .learn-side-1 ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .learn-side-2 ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .what-to-learn-container {
    padding-top: 10rem;
  }

  .socialIcons {
    display: none !important;
  }

  .footerContact {
    display: none;
  }
  .columns ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 1rem;
    row-gap: 1.5rem;
    column-gap: 3rem;
    padding-right: 0;
  }
  .sponsorLogo {
    width: 80%;
  }
  #sponsorLogo {
    height: 45px;
    width: 45px;
    border-radius: 15px;
    margin-top: .3rem;
    margin-right: 3rem;

  }

  #sponsorLogo1 {
   padding-top: .5rem;
  }

  #sponsorLogoHrw {
    margin-left: -0.9rem;
  }

  #sponsorLogoSrcwrx {
    margin-left: -0.7rem;
  }

  .columns {
    padding-bottom: 1rem;
    padding-left: 6%;
  }
  .footerTextContainer {
    padding-bottom: 4rem;
  }
  .footerText {
    padding-top: 1.3rem !important;
  }
  .cliquidity {
    padding-top: 8.6rem;
  }

  #myBtn {
    display: none !important;
  }
}


@media (min-width: 425px) and (max-width: 425px){
  #sponsorLogo {
    height: 45px;
    width: 45px;
    border-radius: 15px;
    margin-top: .3rem;
    margin-right: 4.5rem;

  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .cliquidity {
    padding-top: 8.6rem;
    position: static;
  }

  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .modal {
    padding-top: 10rem !important;
  }
  .signup-form {
    width: 376px;
  }
  #icon2 {
    display: grid;
    grid-template-columns: 15% 85%;
  }
  #icon {
    font-size: 1.5rem;
  }
  .imgContainer {
    justify-content: center;
    height: 100vh;
  }
  .homeContainerGrid {
    display: block;
    font-size: 1.5rem;
    padding-top: 0rem;
  }
  .header {
    font-size: 3rem;
  }
  .homeImg {
    display: none;
  }
  .header-medium {
    font-size: 1.5rem;
  }
  .sub-header {
    margin-bottom: 0;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  .sub1-header {
    padding-top: 0.5rem;
  }
  #applyBtn {
    margin-top: 3rem;
  }
  .header-container {
    padding-top: 1rem !important;
  }

  .what-to-learn-container {
    display: block;
    padding-top: 8rem;
    gap: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  .header-text {
    text-align: center;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
  }
  .card-text p {
    text-align: center;
    padding-top: 3rem;
    margin-left: 2% !important;
  }
  .learn-side-2Logo {
    position: absolute;
    top: 0;
    margin-left: 22%;
    padding-top: 5rem;
  }
  .arrow {
    margin-top: 0rem;
  }
  .learn-side-1 ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .learn-side-2 ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .what-to-learn-container {
    padding-top: 10rem;
  }

  .socialIcons {
    display: none;
  }
  .footerContact {
    display: none;
  }
  .columns ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-left: 0;
    row-gap: 1.5rem;
    column-gap: 3rem;
    /* padding-right: 3rem; */
  }
  .sponsorLogo {
    width: 80%;
  }
  #sponsorLogo {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-top: 0.3rem;
    margin-right: 4rem;
  }

  #sponsorLogoHrw {
    margin-left: -0.5rem;
  }

  #sponsorLogoSrcwrx {
    margin-left: -0.5rem;
    margin-top: 2rem;
  }

  .columns {
    padding-bottom: 1rem;
    padding-left: 10%;
  }
  .footerTextContainer {
    padding-bottom: 4rem;
  }
  .footerText {
    padding-top: 1.4rem;
  }

  #myBtn {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .img-logo {
    display: none;
  }
  .homeContainerGrid {
    display: grid;
    grid-template-columns: auto;
  }

  .cliquidity {
    padding-top: 9rem;
  }

  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  sub-header {
    width: 30rem;
    padding: 0.5rem 5rem;
  }

  .imgContainer {
    height: 100vh;
  }

  .header {
    font-size: 5rem;
    padding-top: 2rem;
  }

  .header-medium {
    font-size: 3rem;
  }

  .sub-header {
    width: 35rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem 3.5em;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0rem;
    letter-spacing: 0.1rem;
  }
  .what-to-learn-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5rem;
  }

  .header-text {
    margin-left: 1rem;
    font-size: 2rem;
    padding-top: 2rem;
  }

  .learn-side-1 {
    margin-left: 1rem;
  }

  .what-to-learn-container p {
    max-width: 50rem;
    font-family: "Raleway";
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .learn-side-2Logo {
    width: 100%;
    height: 30vh;
  }

  .learn-side-2 {
    grid-gap: 2rem;
    margin-right: 1rem;
  }

  #icon2 {
    display: grid;
    grid-template-columns: 10% 90%;
  }
  /* ////////// */

  /* ///////////footer// */

  .img-fluid {
    width: 20px;
  }
  #myButton{
    display: none !important;
      }
    
      #myBtn{
        display: none !important;
      }
    
      .footerContact{
        display: none !important;
      }
    
      .columns ul {
        display: grid !important;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr !important;
        width: 100%;
      }
      #sponsorLogo1 {
        width: 100px;
      }
      .sponsorLogo {
        width: 100px !important;
    }
    #sponsorLogo {
    height: 43px !important;
    width: 43px !important;
    border-radius: 15px !important;
    margin: 0 !important;
    }
    
    #sponsorLogo1{
      margin-top: -12px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .img-logo {
    display: none;
  }

  .imgContainer {
    height: 100vh;
  }
  .homeContainerGrid {
    display: grid;
    grid-template-columns: auto;
  }

  .cliquidity {
    padding-top: 10rem;
  }
  .socialIcons {
    display: none !important;
  }
  .footerContact {
    display: none !important;
  }
  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .header {
    font-size: 6rem;
    padding-top: 0rem;
  }

  .header-medium {
    font-size: 3rem;
  }

  .sub-header {
    width: 33rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0rem;
    letter-spacing: 0.1rem;
  }
  .what-to-learn-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5rem;
  }

  .header-text {
    margin-left: 1rem;
    font-size: 2rem;
    padding-top: 2rem;
  }

  .learn-side-1 {
    margin-left: 1rem;
  }

  .what-to-learn-container p {
    max-width: 50rem;
    font-family: "Raleway";
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .learn-side-2Logo {
    width: 100%;
    height: 23vh;
  }

  .learn-side-2 {
    grid-gap: 2rem;
    margin-right: 1rem;
  }

  /* ////////// */
  /* ///////////footer// */

  .img-fluid {
    width: 20px;
  }
  .columns {
    padding: 3em;
    text-align: center;
  }
  
  .footerTextContainer {
    background-color: #033333;
    height: 40px;
  }
  
  .footerText {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 8px;
  }
  
  .footerContact {
    display: none !important;
   }
  
  .columns ul {
    display: flex;
    justify-content: space-between;
    /* color: white; */
    margin: auto;
 }
  
  .columns li {
    color: white;
  }
  
  .sponsorLogo {
    width: 100px;
  }
  
  #sponsorLogo {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-top: .2rem;
  }
  #sponsorLogo1{
    padding-top: 1rem;
  }

  #sponsorLogoSrcwrx{
    padding-top: .8rem;

  }
 
  #myBtn {
  
    bottom: 50px;
    right: 40px;
    z-index: 99;
    font-size: 13px;
    background-color: #2a7e5f !important;
 
   }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .header {
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 0.7rem;
  }

  .header-medium {
    font-size: 3rem;
    padding-top: 0rem;
  }

  .sub-header-container {
    padding-top: 0rem;
    height: 10%;
  }

  .sub-header {
    width: 35rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0rem;
    letter-spacing: 0.1rem;
  }

  #applyBtn {
    font-size: 1.3rem;
    width: 50%;
  }

  .modal-content {
    width: 200% !important;
  }

  #myForm {
    width: 100%;
  }

  #myForm h2 {
    font-size: 3rem;
  }
  #myForm p {
    font-size: 2rem;
  }
  .signup-form {
    width: 50rem;
    margin: 0px auto;
    padding: 30px 0px;
  }
  .what-to-learn-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5rem;
  }

  .header-text {
    margin-left: 1rem;
    font-size: 2rem;
    padding-top: 2rem;
  }
  .signup-form .btn {
    font-size: 28px;
    font-weight: bold;
    background: #19aa8d;
    border: none;
    min-width: 140px;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 5vh;
  }

  .signup-form label {
    font-weight: normal;
    font-size: 30px;
  }
  .input-group input {
    height: 5vh;
  }
  .learn-side-1 {
    margin-left: 1rem;
  }

  .what-to-learn-container p {
    max-width: 50rem;
    font-family: "Raleway";
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .learn-side-2Logo {
    width: 100%;
    height: 23vh;
  }

  .learn-side-2 {
    grid-gap: 2rem;
    margin-right: 1rem;
  }

  /* ////////// */

  /* ///////////footer// */

  .img-fluid {
    width: 20px;
  }
}
  @media (min-width: 1440px) and (max-width: 2559px){
    .columns {
      padding: 3em;
      text-align: center;
    }
    
    .footerTextContainer {
      background-color: #033333;
      height: 40px;
    }
    
    .footerText {
      text-align: center;
      margin: 0 auto;
      color: white;
      padding: 8px;
    }
    
    .footerContact {
      display: none !important;
     }
    
    .columns ul {
      display: flex;
      justify-content: space-between;
      margin: auto;
   }
    
    .columns li {
      color: white;
    }
    
    .sponsorLogo {
      width: 100px;
    }
    
    #sponsorLogo {
      height: 50px;
      width: 50px;
      border-radius: 15px;
      margin-top: .2rem;
    }
    #sponsorLogo1{
      padding-top: 1rem;
    }
  
    #sponsorLogoSrcwrx{
      padding-top: .8rem;
  
    }
   
    #myBtn {
    
      bottom: 50px;
      right: 40px;
      z-index: 99;
      font-size: 13px;
      background-color: #2a7e5f !important;
   
     }
  
}

@media (min-width: 2560px) {
  .cliquidity {
    padding-top: 9rem;
  }
  .cliquidity p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
  }

  .header {
    font-size: 6rem;
    
  }

  .header-medium {
    font-size: 6rem;
    padding-top: 1rem;
  }

  .sub-header-container {
    padding-top: 1rem;
  }
  .sub-header {
    width: 60rem;
    letter-spacing: 0.2rem;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0rem;
    letter-spacing: 0.1rem;
  }

  #applyBtn {
    font-size: 2rem;
    width: 40%;
  }

  .modal-content {
    width: 200% !important;
  }

  #myForm {
    width: 100%;
  }

  #myForm h2 {
    font-size: 3rem;
  }

  #myForm p {
    font-size: 2rem;
  }
  .signup-form {
    width: 50rem;
    margin: 0px auto;
    padding: 30px 0px;
  }
  .what-to-learn-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5rem;
  }

  .header-text {
    margin-left: 1rem;
    font-size: 2rem;
  }

  .signup-form .btn {
    font-size: 28px;
    font-weight: bold;
    background: #19aa8d;
    border: none;
    min-width: 140px;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 5vh;
  }

  .signup-form label {
    font-weight: normal;
    font-size: 30px;
  }
  .input-group input {
    height: 5vh;
  }

  .learn-side-1 {
    margin-left: 1rem;
  }

  .what-to-learn-container p {
    max-width: 50rem;
    font-family: "Raleway";
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .learn-side-2Logo {
    width: 100%;
    height: 23vh;
  }

  .learn-side-2 {
    grid-gap: 2rem;
    margin-right: 1rem;
  }

  .img-fluid {
    width: 20px;
  }
  .columns {
    padding: 3em;
    text-align: center;
  }

  .footerTextContainer {
    background-color: #033333;
    height: 40px;
  }

  .footerText {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 8px;
  }

  .footerContact {
    display: none !important;
  }

  .columns ul {
    display: flex;
    justify-content: space-between;
    /* color: white; */
    margin: auto;
  }

  .columns li {
    color: white;
  }

  .sponsorLogo {
    width: 100px;
  }

  #sponsorLogo {
    height: 50px;
    width: 50px;
    border-radius: 15px;
  }

  #myBtn {
    bottom: 50px;
    right: 40px;
    z-index: 99;
    font-size: 13px;
    background-color: #2a7e5f !important;
  }
}
