
@media (min-width: 0px ) and (max-width: 320px) {
    .card-container{
        display: block;
      }
      .vl{
          display: none}
        
    .columns ul{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-left: 0;
        row-gap: 1.5rem;
        column-gap: 3rem;
        padding-right: 2rem;
      }
      .socialIcons{
        display: none;
      }
      
      .sponsorLogo {
        width: 150%;
      }
      #sponsorLogo {
        height: 3.5rem;
        width: 85%;
        border-radius: 15px;
      }
      .columns{
        padding-bottom: 1rem;
        padding-left: 10%;
      }
      .footerTextContainer{
      padding-bottom: 4rem;
      }
      .cliquidity{
        padding-top: 8.6rem;
      }
}

@media (min-width: 321px ) and (max-width: 375px) {
 
    .columns ul{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-left: 0;
        row-gap: 1.5rem;
        column-gap: 4rem;
        padding-right: 2rem;
      }
      .socialIcons{
        display: none;
      }
      
      .sponsorLogo {
        width: 150%;
        
      }
      #sponsorLogo {
        height: 4rem;
        width: 85%;
        border-radius: 15px;
      }
      .columns{
        padding-bottom: 1rem;
        padding-left: 8%;
      }
      .footerTextContainer{
      padding-bottom: 4rem;
      }
      .footerText{
        padding-top: 1.3rem;
      }
      .columns ul{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-left: 0;
        row-gap: 1.5rem;
        column-gap: 4rem;
        padding-right: 2rem;
      }
      .socialIcons{
        display: none;
      }
      
      .sponsorLogo {
        width: 150%;
        
      }
      #sponsorLogo {
        height: 4rem;
        width: 85%;
        border-radius: 15px;
      }
      .columns{
        padding-bottom: 1rem;
        padding-left: 8%;
      }
      .footerTextContainer{
      padding-bottom: 4rem;
      }
      .footerText{
        padding-top: 1.3rem;
      }
}

@media (min-width: 376px ) and (max-width: 425px) {
    .columns ul{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-left: 0;
        row-gap: 1.5rem;
        column-gap: 5rem;
        padding-right: 3rem;
      }
      .socialIcons{
        display: none;
      }
      
      .sponsorLogo {
        width: 150%;
      }
      #sponsorLogo {
        height: 4.5rem;
        width: 85%;
        border-radius: 15px;
      
      }
      .columns{
        padding-bottom: 1rem;
        padding-left: 6%;
      }
      .footerTextContainer{
      padding-bottom: 4rem;
      }
      .footerText{
        padding-top: 1.3rem;
      }
      .cliquidity{
        padding-top: 8.6rem;
      }
}

@media (min-width: 768px ) and (max-width: 1440px) {
 
}

@media (min-width: 1440px ) and (max-width: 2560px) {
 


}

@media (min-width: 2560px ) {
 
}