
@media (min-width: 0px ) and (max-width: 320px) {

  body{
    padding: 0;
    margin: 0;
  }
  #intro-section{
    padding-bottom: 0rem;
  }
    .card-container{
        display: block;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
      }
.right-column{
    display: grid;
    width: 200%
}

.social-media{
    display: none;
}
.vl{
    display: none;
}
    
.right-column h3{
padding-top: 2rem;
}
    
.meet-our-mentors{
    padding-top: 9rem !important;
}

.left-column h3{
padding-top: 2rem;
}
.left-column{
    width: 200% !important;
}
.columns{
  padding: -20rem
}
.mentor-imgMoral{
    height: 30% !important;
}


#dots{
    color: white;
}
#more {
    display: none;
  }
  
  #myButton{
    display: inline;
    height: 2rem;
    color:  #eeb50c;
    font-weight: bold;
    width: 25%;
    font-size: .85rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    background-color: Transparent;
    background-repeat:no-repeat;
  }

  #myBtn{
    display: none !important;
  }

  .columns ul{
display: grid !important;
grid-template-columns: 3fr 3fr !important;
row-gap: 1.5rem !important;
  }
  .socialIcons{
    display: none;
  }  

  .sponsorLogo{
    width: 75% !important;
  }
  #sponsorLogo{
    height: 40px !important;
    width: 40px !important;
margin-top: 0rem !important;
margin-left: -2rem !important
  }
  #sponsorLogo1{
padding-top: 0rem !important;
}
.footerContact{
  display: none !important;
}
.footerTextContainer{
  height: 65px !important;
}
}

@media (min-width: 321px ) and (max-width: 375px) {
  
  #myButton{
    display: inline;
    height: 2rem;
    color:  #eeb50c;
    font-weight: bold;
    /* width: 28%; */
    font-size: 1rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    background-color: Transparent;
    background-repeat:no-repeat;
  }

    
    .card-container{
        display: block;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
      }

.social-media{
    display: none;
}
.right-column{
    display: grid;
    width: 172%
}

.right-column h3{
padding-top: 2rem;
}
.vl{
    display: none;
}
.meet-our-mentors{
    padding-top: 9rem !important;
}

.left-column h3{
padding-top: 2rem;
}
.left-column{
    width: 172% !important;
}

.mentor-imgMoral{
    height: 30% !important;
}
.columns ul{
  display: grid !important;
  grid-template-columns: 3fr 3fr !important;
  row-gap: 1.5rem !important;
    }
    .socialIcons{
      display: none;
    }  
  
    .sponsorLogo{
      width: 80% !important;
    }
    #sponsorLogo{
      height: 40px !important;
      width: 40px !important;
  margin-top: 0.5rem !important;
  margin-left: -2rem !important
    }
    #sponsorLogo1{
  padding-top: 0rem !important;
  }
  .footerContact{
    display: none !important;
  }
  .footerTextContainer{
    height: 65px !important;
  }
  .footerText{
    padding-top: 1.4rem !important;
  }
    }
@media (min-width: 376px ) and (max-width: 425px) {
  #myButton{
    display: inline;
    height: 2rem;
    color:  #eeb50c;
    font-weight: bold;
    /* width: 25%; */
    font-size: 1rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    background-color: Transparent;
    background-repeat:no-repeat;
  }
    .card-container{
        display: block;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
      }
.right-column{
    display: grid;
    width: 158%;
}

.social-media{
    display: none;
}
.vl{
    display: none}
    
.right-column h3{
padding-top: 2rem;
}
    
.meet-our-mentors{
    padding-top: 9rem !important;
}

.left-column h3{
padding-top: 2rem;
}
.left-column{
    width: 158% !important;
}

.mentor-imgMoral{
    height: 30% !important;
}
.columns ul{
  display: grid !important;
  grid-template-columns: 3fr 3fr !important;
  row-gap: 1.5rem !important;
    }
    .socialIcons{
      display: none;
    }  
  
    .sponsorLogo{
      width: 80% !important;
    }
    #sponsorLogo{
      height: 45px !important;
      width: 45px !important;
  margin-top: 0.5rem !important;
  margin-left:-4rem !important
    }
    #sponsorLogo1{
  padding-top: 0rem !important;
  }
  .footerContact{
    display: none !important;
  }
  .footerTextContainer{
    height: 65px !important;
  }
  .footerText{
    padding-top: 1.4rem !important;
  }
}


@media (min-width: 426px ) and (max-width: 767px) {
  #dots{
    color: white;
}
#more {
    display: none;
  }
  #myButton{
    display: inline;
    height: 2rem;
    color:  #eeb50c;
    font-weight: bold;
    width: 25%;
    font-size: 1rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    background-color: Transparent;
    background-repeat:no-repeat;
  }
    .card-container{
        display: block;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
      }
.right-column{
    display: grid;
    width: 158%;
}

.social-media{
    display: none;
}
.vl{
    display: none}
    
.right-column h3{
padding-top: 2rem;
}
    
.meet-our-mentors{
    padding-top: 9rem !important;
}

.left-column h3{
padding-top: 2rem;
}
.left-column{
    width: 158% !important;
}

.mentor-imgMoral{
    height: 30% !important;
}

.columns ul{
  display: grid !important;
  grid-template-columns: 3fr 3fr !important;
  row-gap: 1.5rem !important;
    }
    .socialIcons{
      display: none;
    }  
  
    .sponsorLogo{
      width: 80% !important;
    }
    #sponsorLogo{
      height: 45px !important;
      width: 45px !important;
  margin-top: 0.5rem !important;
  margin-left:-5rem !important
    }
    #sponsorLogo1{
  padding-top: 0rem !important;
  }
  .footerContact{
    display: none !important;
  }
  .footerTextContainer{
    height: 65px !important;
  }
  .footerText{
    padding-top: 1.4rem !important;
  }

}

@media (min-width: 768px ) and (max-width: 1439px) {
  #intro-section{
    background-color: #2a7e5f;
  background-image: linear-gradient(315deg, #98de5b  10%, #2a7e5f 74%);
  }
  
  .meet-our-mentors{
    padding-top: 8rem !important;
    font-size: 2rem;
  }
  .card-container {
    display: block;
    padding-top: 2rem !important;
    font-size: 2.5rem;
  }
  
  .card-container p{
    font-size: 16px;
  }
  
  .title {
    color: rgba(255, 255, 255, 0.479);
    font-size: 16px;
    font-family: 'Raleway' !important;
  }
  
  h3 {
    font-family: 'Raleway' !important;
    color: white;
    padding-top: 2rem;
  }
  
  h5 {
    color: white;
    font-family: 'Raleway' !important;
  }
  
  
  .mentor-text{
    display: flex !;
  }
  
  .left-column {
    /* border: none; */
    margin: 0 auto;
    text-align: center;
    font-family: arial;
      color: white;
    width: 100% !important;
    margin-left: 3.5rem;
  }
  
  
  .left-column
  h1 {
    width: 100%;
    margin:auto;
    font-size: 2rem;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-family: 'Raleway';
  }
  
  .vl {
display: none;  }
  
  .right-column
  p{
    font-family: 'Raleway';
    color: white;
  }
  
  .right-column
  h2{
    font-size: 2rem;
    color: white;
  }

  .social-media{
    display:none;
  }

  hr{
    background-color:  rgba(255, 255, 255, 0.555) !important;
    width: 89% ; 
    margin: auto;
  }
}

@media (min-width: 1440px ) and (max-width: 2560px) {
}
 
@media (min-width: 2560px ) {
 
}